<% provide(:title, "Home") %>
<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<div class="fixed">
				<%= render 'shared/small_profile' %>
			</div>
		</aside>
		<div class="col-md-8">
			<h1>Recent Posts</h1>
			<section class="micropost-form">
				<%= render 'shared/micropost_form' %>
			</section>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-md-12">
			<div class="center jumbotron">
			  <h1>Welcome to MySportsFace</h1>
			  <h2>Browse your favorite sports organizations and check their news and events!</h2>
			  <%= link_to "Create an Account", signup_path, class: "btn btn-lg btn-primary" %>
			  <h2>Already have an account? <%= link_to "Log in here!", login_path %></h2>
			  <%= link_to image_tag("fb_login_button.png"), "auth/facebook" %>
			  <%= link_to image_tag("google_login_button.png"), "auth/google_oauth2" %>
			</div>
		</div>
	</div>
<% end %>