<% provide(:title, "Home") %>
<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<div class="fixed">
				<%= render 'shared/small_profile' %>
			</div>
		</aside>
		<div class="col-md-8">
			<h1>Recent Posts</h1>
			<section class="micropost_form" style="margin-bottom: 20px; padding: 0 10px 0 10px">
				<%= render 'shared/micropost_form' %>
			</section>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<div class="backpic">
		  <h1>Welcome to MySportsFace</h1>

		  <h2>Browse your favorite sports organizations and check their news and events!</h2>

		  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		  <h2>Already have an account? <%= link_to "Log in here!", login_path %></h2>
		</div>
	</div>
<% end %>