<h1>Listing Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
	  <th>Entries</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @feed.title %></td>
        <td><%= @feed.url %></td>
		<td><%= @feed.entries.count %></td>
        <td><%= link_to 'Retrieve', retrieve_organization_feed_path(@organization, @feed) %></td>
        <td><%= link_to 'Show', organization_feed_path(@organization, @feed) %></td>
      </tr>
  </tbody>
</table>