<li class="news-article">
	<span class="article-title">
		<%= link_to article.title, article_path(article), class: 'add-transition' %>
		<% if current_user.voted_on?(article) %>
			<div class="star-form">
				<%= article.votes_for %>
				<%= content_tag("span", "", class: "star-empty") %>
			</div>
		<% else %>
			<div class="star-form">
				<%= article.votes_for %>
				<%= content_tag("span", "", class: "star-full") %>
			</div>
		<% end %>
	</span>
	<p class="article-author">by <%= article.author %> | <%= link_to "view original post", article.url, :target => "_blank" %></p>
	<p class="article-comments"><%= link_to "Comments: #{article.comments.count}", article_path(article, anchor: 'comments') %></p>
</li>