<%= provide(:title, @organization.name) %>
<div class="back-btn">
	<%= link_to "Go back", organization_path, class: "btn btn-lg btn-primary" %>
</div>
<h1>News</h1>
<h2><%= @organization.name %></h2>

<ul class="articles">
	<% @articles.each do |article| %>
		<li class="news-article">
			<p class="article-title"><%= link_to article.title, article_path(article) %></p>
			<p class="article-author">by <%= article.author %></p>
			<p class="article-description"><%= article.description %></p>	
		</li>
	<% end %>
</ul>