<%= provide(:title, @organization.name) %>

<div class="row">
	<aside class="col-md-4">
		<div class="fixed">
			<%= render 'shared/small_profile' %>
		</div>
	</aside>

	<div class="col-md-8">	
		<h1>News</h1>
		<h2 class="link-transition"><%= link_to @organization.name, @organization %></h2>
		<div class="back-btn"><%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Go back".html_safe, organization_path, class: "btn btn-primary" %></div>
		
		<div class="event-info">
			<%= form_tag(organization_articles_path(@organization), :method => "get") do %>
				<%= text_field_tag :search, params[:search], class: "text-area col-md-10 form-control", placeholder: "Search Articles. . ." %>
				<button type="submit" class="btn btn-primary col-md-2 search-btn"><i class="glyphicon glyphicon-search"></i></button>
			<% end %>
		</div>
		
		<% if @noresults %>
			<h3>No articles were found in your search for: '<%= @searched %>'.</h3>
		<% else %>
		<ul class="articles">
			<%= render @articles.reverse %>
		</ul>
		<% end %>
		
		<%= will_paginate %>
	</div>
</div>