<%= provide(:title, @organization.name) %>

<div class="row">
	<aside class="col-md-4">
		<div class="fixed">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
		</div>
	</aside>

	<div class="col-md-8">	
		<h1>News</h1>
		<h2 class="link-transition"><%= link_to @organization.name, @organization %></h2>
		<div class="back-btn"><%= link_to "Go back", organization_path, class: "btn btn-primary" %></div>
		
		<ul class="articles">
			<%= render @articles.reverse %>
		</ul>
		
		<%= will_paginate %>
	</div>
</div>