<%= provide(:title, @article.title) %>

<div class="row">
	<aside class="col-md-4">
		<div class="fixed">
			<%= render 'shared/small_profile' %>
		</div>
	</aside>

	<div class="col-md-8">
		<h1><%= @article.title %></h1>
		<h2 class="article-creator">by <%= link_to @article.author, @organization %></h2>
		<div class="back-btn"><%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Go back".html_safe, organization_articles_path(@organization), class: "btn btn-primary" %></div>
		
		<div class="col-md-12">
			<div class="stars">
				<div class="star-votes">
					<%= @article.votes_for %> <i class="glyphicon glyphicon-star"></i>
				</div>
				<% if current_user.voted_for?(@article) %>
					<%= render 'unstar_form' %>
				<% else %>
					<%= render 'star_form' %>
				<% end %>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="border-top event-info">
				<h3><i class="glyphicon glyphicon-th"></i> Article Information</h3>
			</div>
			<div class="article-description">
				<% if @article.content.nil? %>
					<% if !@article.description.nil? %>
						<%= @article.description.html_safe %><span class="truncated"> [...]</span>
					<% end %>
					<p class="extra-info">&#x279c; Please visit the <%= link_to "original article", @article.url, target: "_blank" %> to read the full post.</p>
				<% else %>
					<%= @article.content.html_safe %>
				<% end %>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="border-top comment-form" id="comments">
				<h3><i class="fa fa-comments"></i> Comments (<%= @article.comments.count %>)</h3>
				<%= render 'shared/comment_form' %>
			</div>
			<ul class="comments">
				<% @comments.reverse_each do |comment| %>
					<% if comment.user_id != nil %>
						<% if comment.user_id == current_user.id %>
						<li>
						<% else %>
						<li class="other-user-li">
						<% end %>
							<%= link_to gravatar_for(User.find(comment.user_id)), User.find(comment.user_id) %>
							<div class="comment-div">
								<span class="comment-author">
									<%= link_to comment.author, user_path(User.find(comment.user_id)), class: 'add-transition' %>
									<% if current_user.voted_on?(comment) %>
										<div class="star-form">
											<%= comment.votes_for %>
											<%= link_to(content_tag("i", "", class: "fa fa-star"), unstar_comment_path(comment), :method => :post) %>
										</div>
									<% else %>
										<div class="star-form">
											<%= comment.votes_for %>
											<%= link_to(content_tag("i", "", class: "fa fa-star-o"), star_comment_path(comment), :method => :post) %>
										</div>
									<% end %>
								</span>
								<span class="comment-body">
									<%= comment.body.html_safe %>
								</span>
								<span class="comment-timestamp">
									posted <%= time_ago_in_words(comment.created_at) %> ago.
									<% if current_user.id == comment.user_id %>
										<%= link_to "delete <i class='fa fa-times'></i>".html_safe, comment, method: :delete,
																	   data: { confirm: "Are you sure you want to delete this comment?" }, class: "delete-comment" %>
									<% end %>
								</span>								
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>