<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
	<div class="fixed">
		<%= render 'shared/small_profile' %>
	</div>
  </aside>
  <div class="col-md-8">
	<h1>Signed up for</h1>
      <ul class="events">
		<li class="list-title">
			<span class="exp-close">-</span>
			<span class="fav-title-count"><% if current_user == @user %>Your<% else %><%= @user.name %>'s<% end %> Events (<%= @events.where(:user_id => @user.id).count %>)</span>
		</li>
        <%= render @events.where(:user_id => @user.id) %>
      </ul>
	  <ul class="events">
		<li class="list-title">
			<span class="exp-close">-</span>
			<span class="fav-title-count">Other Events (<%= @events.where.not(:user_id => @user.id).count %>)</span>
		</li>
        <%= render @events.where.not(:user_id => @user.id) %>
      </ul>
  </div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery(".list-title").click(function() {
			if (jQuery(this).find(".exp-close").text() === "-") { 
				jQuery(this).find(".exp-close").text("+"); 
			} else {
				jQuery(this).find(".exp-close").text("-"); 
			}
			jQuery(this).nextAll("li").slideToggle(200);
		});
	});
</script>