<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
	<div class="fixed">
		<section class="user_info">
		  <%= link_to gravatar_for(@user), @user %>
		  <h1 class="username"><%= link_to @user.name, @user %></h1>
		  <% if current_user.id == @user.id %>
			<span><%= link_to "Settings", edit_user_path(@user) %></span>
		  <% end %>	
		</section>
		<section class="stats">
		  <%= render 'shared/stats' %>
		</section>
	</div>
  </aside>
  <div class="col-md-8">
	<%= link_to "Create an event", events_new_path, class: "wide btn btn-primary" if @user == current_user %>
    <h3>Posts (<%= @user.microposts.count %>): <%= link_to "View posts", user_path(@user), class: "btn btn-primary" %></h3>
    <h3>Events (<%= @events.count %>)</h3>
    <% if @events.any? %>
      <ul class="events">
        <%= render @events %>
      </ul>
    <% end %>
  </div>
</div>