<%= form_for([@event, @comments.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.hidden_field :author, :value => current_user.name %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :event_id, :value => @event.id %>
  
  <%= f.text_area :body, class: "comment-text-area form-control" %>
  <div class="empty-space"></div>
  <%= f.submit "Add Comment", class: "btn btn-primary", id: "add-comment", disabled: true %>
<% end %>

<script type="text/javascript">
	$(window).load(function() {
		$("div.nicEdit-main").on("keyup", function() {
			if($("div.nicEdit-main").text().length > 0) {
				$("input#add-comment").removeAttr("disabled");
			}
			else $("input#add-comment").attr("disabled", "disabled");
		});
	});
</script>