<% provide(:title, 'Events') %>

<div class="row">
	<aside class="col-md-4">
		<div class="fixed">
			<%= render 'shared/small_profile' %>
		</div>
	</aside>

	<div class="col-md-8">
		<h1>Events</h1>

		<div class="col-md-12 new-event-btn">
			<%= link_to "Create an event", events_new_path, class: "btn btn-primary" %>
		</div>
		
		<div>
			<%= form_tag(events_path, :method => "get") do %>
				<%= text_field_tag :search, params[:search], class: "text-area col-md-10 form-control", placeholder: "Search Events. . .", :autofocus => "true" %>
				<button type="submit" class="btn btn-primary col-md-2 search-btn"><i class="glyphicon glyphicon-search"></i></button>
			<% end %>
		</div>
			
		<%= will_paginate %>

		<% if @noresults %>
			<h3>No events were found in your search for: '<%= @searched %>'.</h3>
		<% else %>
		<ul class="events">
			<% if @attending.count > 0 %>
				<li class="favorites">
					<i class="glyphicon glyphicon-chevron-down"></i>
					<span class="fav-title-count">Attending (<%= @attending.count %>)</span>
				</li>
				<%= render @attending %>
			<% end %>
			<% if @events.count > 0 %>
				<li class="rest">
					<i class="glyphicon glyphicon-chevron-down"></i>
					<span class="rest-title-count">All (<%= @events.count %>)</span>
				</li>
				<%= render @events %>
			<% end %>
		</ul>			
		<% end %>

		<%= will_paginate %>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery(".favorites").click(function() {
			if (jQuery(this).find("i").attr("class") == "glyphicon glyphicon-chevron-down") { 
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-right"); 
			} else {
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-down");
			}
			jQuery(this).nextUntil(".rest").slideToggle(200);
		});
		jQuery(".rest").click(function() {
			if (jQuery(this).find("i").attr("class") == "glyphicon glyphicon-chevron-down") { 
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-right"); 
			} else {
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-down");
			}
			jQuery(this).nextAll("li").slideToggle(200);
		});
	});
</script>