<%= provide(:title, @event.name) %>
<h1><%= @event.name %></h1>
<h2 class="event-creator">created by <%= link_to User.find(@event.user_id).name, user_path(User.find(@event.user_id)) %></h2>

<div class="anchor-links">
	<a href="#participants" class="btn btn-primary">view participants</a>
	<a href="#photos" class="btn btn-primary">view photos</a>
</div>

<div class="row">
	<div class="border-top event-info">
		<h3><span>&#x1f518;</span> Event Information</h3>
	</div>
	<div class="col-md-12">
		<p class="event-description">
			<%= @event.description %>
		</p>
	</div>
	<div class="border-top event-info">
		<div class="col-md-4 border-right timeloc margin-top no-padding-left">
			<h3><span>&#x1f4c6;</span> Date </h3>
			<p><%= @event.date.day %> <%= month_name(@event.date.month) %> <%= @event.date.year %></p>
		</div>
		<div class="col-md-4 border-right timeloc margin-top">
			<h3><span>&#x1f552;</span> Time</h3>
			<p><%= @event.time.strftime("%H : %M") %></p>
		</div>
		<div class="col-md-4 timeloc margin-top">
			<h3><span>&#x1f30f;</span> Location</h3>
			<p id="loc"><%= @event.location %></p>
			<p style="display: none" id="lat"><%= @event.lat %></p>
			<p style="display: none" id="lng"><%= @event.lng %></p>				
		</div>
		<div id="gmap" class="col-md-12 locationmap"></div>
	</div>
</div>

<div class="row" id="participants">
	<div class="border-top event-info">
		<h3><span>&#x1f464;</span> Participants (<%= @event.participants.count %>)</h3>
	</div>
	<div class="col-md-12">
		<% if @event.participants.count > 0 %>
			<div class="participants">
				<%= render 'creator' %>
				<%= render 'admins' %>
				<%= render 'user_participants' %>
			</div>
		<% else %>
			<span class="no-participants">This event has no participants yet. Be the first to sign up!</span>
		<% end %>
		<div class="col-md-4 margin-top-sm">
			<%= render 'participate_form' if logged_in? and not_creator(current_user, @event) %>
		</div>
	</div>
</div>

<div class="row" id="photos">
	<div class="border-top event-info">
		<h3><span>&#x1f4f7;</span> Photos (<%= @event.pictures.count %>)</h3>
	</div>
	<div class="col-md-12">
		<%= render 'event_pictures' %>
	</div>
	<% if !current_user.active_participations.find_by(event_id: @event.id).nil? %>
		<div class="col-md-4 margin-top-sm">
			<%= render 'shared/upload_picture_form' %>
		</div>
	<% end %>
</div>

<script src="http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=places" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.photos').cycle({
			fx: 'scrollHorz',
			next: '.photos',
			next: '#next',
			prev: '#prev',
			delay: -500,  
		});
	});
	
	var $root = $('html, body');
	$('a').click(function() {
		$root.animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top - 40
		}, 500);
		return false;
	});
</script>

<script type="text/javascript">
	var markers = [];

	function initialize() {
		var lat = document.getElementById('lat').innerHTML;
		var lng = document.getElementById('lng').innerHTML;
		var location_name = document.getElementById('loc').innerHTML;
		var pos = new google.maps.LatLng(lat, lng);
	
		var mapOptions = {
			zoom: 10,
			center: pos
		};
		var map = new google.maps.Map(document.getElementById('gmap'),
		  mapOptions);
		  
		markers.push(new google.maps.Marker({
			map: map,
			position: pos,
			title: location_name
		}));
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
