<%= provide(:title, @event.name) %>
<h1><%= @event.name %></h1>
<h2 class="event-creator">created by <%= link_to User.find(@event.user_id).name, user_path(User.find(@event.user_id)) %></h2>

<div class="anchor-links">
	<a href="#participants" class="btn btn-primary">view participants</a>
	<a href="#photos" class="btn btn-primary">view photos</a>
</div>

<div class="row">
	<div class="border-top event-info">
		<h3><span>&#x1f518;</span> Event Information</h3>
	</div>
	<div class="col-md-12">
		<p class="event-description">
			<%= @event.description %>
		</p>
	</div>
	<div class="border-top event-info">
		<div class="col-md-6 border-right timeloc margin-top">
			<h3><span>&#x1f552;</span> Date & Time</h3>
			<p>event time</p>
		</div>
		<div class="col-md-6 timeloc margin-top">
			<h3><span>&#x1f30f;</span> Location</h3>
			<p>event location</p>
		</div>
	</div>
	<div class="col-md-12">
		
	</div>
</div>

<div class="row" id="participants">
	<div class="border-top event-info">
		<h3><span>&#x1f464;</span> Participants (<%= @event.participants.count %>)</h3>
	</div>
	<div class="col-md-12">
		<% if @event.participants.count > 0 %>
			<div class="participants">
				<%= render 'creator' %>
				<%= render 'admins' %>
				<%= render 'user_participants' %>
			</div>
		<% else %>
			<span class="no-participants">This event has no participants yet. Be the first to sign up!</span>
		<% end %>
		<div class="col-md-4 margin-top-sm">
			<%= render 'participate_form' if logged_in? %>
		</div>
	</div>
</div>

<div class="row" id="photos">
	<div class="border-top event-info">
		<h3><span>&#x1f4f7;</span> Photos (<%= @event.pictures.count %>)</h3>
	</div>
	<div class="col-md-12">
		<%= render 'event_pictures' %>
	</div>
	<% if !current_user.active_participations.find_by(event_id: @event.id).nil? %>
		<div class="col-md-4 margin-top-sm">
			<%= render 'shared/upload_picture_form' %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.photos').cycle({
			fx: 'scrollHorz',
			next: '.photos',
			next: '#next',
			prev: '#prev',
			delay: -500,  
		});
	});
	
	var $root = $('html, body');
	$('a').click(function() {
		$root.animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top - 40
		}, 500);
		return false;
	});
	
</script>

