<%= provide(:title, 'Organizations') %>

<div class="row">
	<aside class="col-md-4">
		<div class="fixed">
			<%= render 'shared/small_profile' %>
		</div>
	</aside>

	<div class="col-md-8">
		<h1>Organizations</h1>
		
		<div class="event-info">
			<%= form_tag(organizations_path, :method => "get") do %>
				<%= text_field_tag :search, params[:search], class: "text-area col-md-10 form-control", placeholder: "Search Organizations. . .", :autofocus => "true" %>
				<button type="submit" class="btn btn-primary col-md-2 search-btn"><i class="glyphicon glyphicon-search"></i></button>
			<% end %>
		</div>
		
		<% if @noresults %>
			<h3>No organizations were found in your search for: '<%= @searched %>'.</h3>
		<% else %>
		<ul class="og-grid">
			<% if @favorites.count > 0 %>
				<li class="favorites">
					<i class="glyphicon glyphicon-chevron-down"></i>
					<span class="fav-title-count">Favorites (<%= @favorites.count %>)</span>
				</li>	
				<%= render @favorites %>
			<% end %>
			<% if @organizations.count > 0 %>
				<li class="rest">
					<i class="glyphicon glyphicon-chevron-down"></i>
					<span class="rest-title-count">All (<%= @organizations.count %>)</span>
				</li>
				<%= render @organizations %>
			<% end %>
		</ul>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery(".favorites").click(function() {
			if (jQuery(this).find("i").attr("class") == "glyphicon glyphicon-chevron-down") { 
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-right"); 
			} else {
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-down");
			}
			jQuery(this).nextUntil(".rest").slideToggle(200);
		});
		jQuery(".rest").click(function() {
			if (jQuery(this).find("i").attr("class") == "glyphicon glyphicon-chevron-down") { 
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-right"); 
			} else {
				jQuery(this).find("i").attr("class", "glyphicon glyphicon-chevron-down");
			}
			jQuery(this).nextAll("li").slideToggle(200);
		});
	});
</script>