<% provide(:title, 'Creating new organization') %>
<h1>Create a new organization</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(setup_organization(@organization)) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	
      <%= f.label :name, "Organization Name" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description, "Organization Description" %>
      <%= f.text_area :description, class: 'form-control', rows: 5 %>

      <%= f.label :logo, "Organization Logo" %>
      <%= f.text_field :logo, class: 'form-control' %>
	  
	  <%= f.label :url, "Organization Website" %>
	  <%= f.text_field :url, class: 'form-control' %>

      <%= f.fields_for :feed do |ff| %>
		  <%= ff.label :title, "Feed Title" %>
		  <%= ff.text_field :title, class: 'form-control' %>
		  
		  <%= ff.label :url, "Feed URL" %>
		  <%= ff.text_field :url, class: 'form-control' %>
		  
		  <%= ff.hidden_field :status, :value => "" %>
	  <% end %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>