<%= provide(:title, @organization.name) %>
<h1><%= @organization.name %></h1>
<div class="subscribe">
	<%= form_for(@organization) do |f| %>
	  <%= f.submit "Subscribe", class: "btn btn-primary btn-small" %>
	<% end %>
</div>

<ul class="organization-x">
	<li>
		<span class="org-link">
			<%= link_to "News", organization_articles_path(@organization) %> (<%= @organization.articles.count %>)
		</span>
	</li>
	<li>
		<span class="org-link">
			<%= link_to "Events", '#' %> (0)
		</span>
	</li>
</ul>